// Typography
//
// Base font styles for headings and links.

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
    font-family: "open_sansextrabold";
    color: $primary;
}

.text-bold {
    font-family: "open_sansbold";
}

ul {
    margin-top: 1.5rem;
    > li {
        margin-bottom: 10px;
    }
}

@include media-breakpoint-down(md) {
    h2,
    .h2 {
        font-size: 24px;
    }
}
