<!DOCTYPE html>
<html lang="en">

@@include('../partials/head/head.html',{
"title": "Home"
})

<body>
    <div class="wrapper">
        @@include('../partials/components/header.html', {"homeLogo": true, "home": "current"})
        @@include('../partials/components/entry-section.html')
        @@include('../partials/components/products.html')
        @@include('../partials/components/info.html')
        @@include('../partials/components/products-in-stock.html')
        @@include('../partials/components/footer.html')
    </div>
    @@include('../partials/scripts/common.html')
</body>

</html>