// Global variables

// 'rem' base value
$rem: 10px;

// Breakpoints for include media mixin
$breakpoints: (
    "phone": 480px,
    "tablet": 768px,
    "desktop": 980px,
    "widescreen": 1200px,
);

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
);
$container-max-widths: (
    xl: 1140px,
);

// Keywords for include media mixin
$media-expressions: (
    "screen": "screen",
    "print": "print",
    "handheld": "handheld",
    "landscape": "(orientation: landscape)",
    "portrait": "(orientation: portrait)",
    "retina2x": "(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)",
    "retina3x": "(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)",
    "hover": "(hover: hover) and (pointer: fine)",
    "theme-light": "prefers-color-scheme: light",
    "theme-dark": "prefers-color-scheme: dark",
);

//* Bootstrap Variable *//

$primary: #012d56;
$blue: #012d56;
$light: #ffeb74;
$theme-colors: (
    primary: #012d56,
);

//* Base Style Vaiable *//
$font-family-base: "open_sansregular";
$body-color: #333;
$link-color: $primary;
$link-hover-color: $primary;

$small-font-size: 70%;

//* Heading Style Vaiable *//
$headings-line-height: 1.05;
$h1-font-size: 48px;
$h3-font-size: 24px;
$headings-font-weight: normal;
$headings-margin-bottom: 26px;
$paragraph-margin-bottom: 10px;

//* Navbar Vaiable *//
$navbar-padding-y: 0;
$navbar-padding-x: 15px;
$navbar-brand-padding-y: 0;
$navbar-light-color: $primary;
$navbar-light-active-color: $primary;
$navbar-light-hover-color: $primary;

$navbar-light-toggler-border-color: $primary;
$navbar-toggler-light-color: $light;
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$navbar-toggler-light-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");

//* Buttons Vaiable *//
$btn-border-radius: 2rem;
$btn-font-size: 0.9375rem;
$btn-block-spacing-y: 10px;
$btn-padding-y: 0.8125rem;

//* Cards Vaiable *//
//$card-bg: #ddc576;
$card-border-radius: 1.25rem;
$card-border-width: 0;
$card-border-color: transparent;
$card-spacer-x: 10px;
