<footer class="footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Quality</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Sustainability</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Benefits of Corrugated</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#"> Contacts Directions</a>
                    </li>
                </ul>
                <div class="copyright">
                    &copy; 2020 <a href="index.html">Tilsner Carton Company</a> | A ThermoDynamo Production
                </div>
            </div>
            <div class="col-md-4 text-md-right">
                <a href="#" class="btn btn-secondary text-left">
                    <span class="icon-btn icon-covid-19"></span>COVID-19
                </a>
            </div>
        </div>
    </div>
</footer>