<div class="container info">
    <h2 class="h2 text-uppercase">Basic Information</h2>
    <div class="row">
        <div class="col-md-8 text-holder">
            <p>If you are new to purchasing boxes, this section is for you. It gives you some of the lingo, and
                pictures
                of what the terms mean.</p>
            <p>Click on the term to the right that you want to learn about</p>
            <ul class="text-uppercase text-bold text-primary">
                <li><a href="#">Basic Box Information</a></li>
                <li><a href="#">Design Services</a></li>
                <li><a href="#">Art Guidelines</a></li>
                <li><a href="#">Fulfilllme & Hand Assembly</a></li>
                <li><a href="#">Facility Overview</a></li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-6 get-feer-quote">
            <div class="h3 text-uppercase">Get a Free Quote <br><span class="small text-lowercase">for our
                    services</span></div>
            <a href="" class="btn btn-primary btn-block text-uppercase">Request a Box Quote</a>
            <a href="" class="btn btn-primary btn-block text-uppercase">Request a Pallet Quote</a>
            <a href="" class="btn btn-secondary btn-block text-uppercase">Credit Application/Tax Form</a>
        </div>
    </div>
</div>