<div class="container products">
    <div class="row align-items-md-stretch justify-content-sm-center">
        <div class="col col-sm-6">
            <a href="#" class="card">
                <div class="card-img-top">
                    <img src="images/products/custom-boxes.png" alt="Custom Boxes">
                </div>
                <div class="card-body">
                    <div class="card-title">Custom Boxes</div>
                </div>
            </a>
        </div>
        <div class="col col-sm-6">
            <a href="#" class="card">
                <div class="card-img-top">
                    <img src="images/products/stock-boxes.png" alt="Stock Boxes">
                </div>
                <div class="card-body">
                    <div class="card-title">Stock Boxes</div>
                </div>
            </a>
        </div>
        <div class="col col-sm-6">
            <a href="#" class="card">
                <div class="card-img-top">
                    <img src="images/products/point-of-purchase-displays.png" alt="Point-of-Purchase Displays">
                </div>
                <div class="card-body">
                    <div class="card-title">Point-of-Purchase Displays</div>
                </div>
            </a>
        </div>
        <div class="col col-sm-6">
            <a href="#" class="card">
                <div class="card-img-top">
                    <img src="images/products/pallets.png" alt="pallets">
                </div>
                <div class="card-body">
                    <div class="card-title">Pallets</div>
                </div>
            </a>
        </div>
        <div class="col col-sm-6">
            <a href="#" class="card">
                <div class="card-img-top">
                    <img src="images/products/hand-assembly-fulfillment.png" alt="Hand Assembly & Fulfillment">
                </div>
                <div class="card-body">
                    <div class="card-title">Hand Assembly & Fulfillment</div>
                </div>
            </a>
        </div>
    </div>
</div>