<div class="bg-section">
    <div class="container products products-type-1">
        <h2 class="h2 text-uppercase">In Stock Products</h2>
        <div class="row align-items-md-stretch justify-content-sm-center">
            <div class="col col-sm-6">
                <a href="#" class="card">
                    <div class="card-img-top">
                        <img src="images/products/stock-boxes-1.png" alt="Stock Boxes">
                    </div>
                    <div class="card-body">
                        <div class="card-title">Stock Boxes</div>
                    </div>
                </a>
            </div>
            <div class="col col-sm-6">
                <a href="#" class="card">
                    <div class="card-img-top">
                        <img src="images/products/garden-trays.png" alt="Garden Trays">
                    </div>
                    <div class="card-body">
                        <div class="card-title">Garden Trays</div>
                    </div>
                </a>
            </div>
            <div class="col col-sm-6">
                <a href="#" class="card">
                    <div class="card-img-top">
                        <img src="images/products/express-stock-displays.png" alt="Express Stock Displays">
                    </div>
                    <div class="card-body">
                        <div class="card-title">Express Stock Displays</div>
                    </div>
                </a>
            </div>
            <div class="col col-sm-6">
                <a href="#" class="card">
                    <div class="card-img-top">
                        <img src="images/products/pallet-stock-size-listing.png" alt="Pallet Stock Size Listing">
                    </div>
                    <div class="card-body">
                        <div class="card-title">Pallet Stock Size Listing</div>
                    </div>
                </a>
            </div>
            <div class="col col-sm-6">
                <a href="#" class="card">
                    <div class="card-img-top">
                        <span class="more-arrow"></span>
                    </div>
                    <div class="card-body">
                        <div class="card-title">View More Options</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>